@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-key-default {
  background-color: #818384;
}

.bg-miss {
  background-color: #3a3a3c;
}
.bg-hit {
  background-color: #b59f3b;
}
.bg-perfect {
  background-color: #538d4e;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.125);
  }

  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: scaleAnimation 0.075s forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-7px);
  }
  30% {
    transform: translateX(7px);
  }
  45% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  90% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-1px);
  }
}

.animate-shake {
  animation: shake 0.4s 1;
  animation-timing-function: ease-in-out;
}

@keyframes flipAnimation {
  0% {
    transform: perspective(2000px) rotateX(0deg);
  }
  50% {
    transform: perspective(2000px) rotateX(90deg);
  }

  100% {
    transform: perspective(2000px) rotateX(0deg);
  }
}

.animate-flip-0 {
  animation: flipAnimation 0.5s forwards;
  animation-delay: 0ms;
}

.animate-flip-1 {
  animation: flipAnimation 0.5s forwards;
  animation-delay: 400ms;
}

.animate-flip-2 {
  animation: flipAnimation 0.5s forwards;
  animation-delay: 800ms;
}

.animate-flip-3 {
  animation: flipAnimation 0.5s forwards;
  animation-delay: 1200ms;
}

.animate-flip-4 {
  animation: flipAnimation 0.5s forwards;
  animation-delay: 1600ms;
}
